{% extends "_layouts/main" %}

{% block main %}

	<article>

		<div class="backdrop backdrop--fixed full-height" id="article-introduction">

			<div class="backdrop__image">
				<img src="/dist/images/backdrop-example-03.jpg" alt="Placeholder">
			</div>

			<div class="backdrop__cover">

				<div class="container medium text-align-center margin-y-5">

					<h1 class="screen-reader-only">
						{{ entry.header }}
					</h1>

					<div class="banner-headline">
						{{ entry.paragraph }}
					</div>

					<a href="#bio" class="button theme-dark margin-y-4">
						{{ entry.linkText }}
					</a>

				</div>

			</div>

		</div>
		<!-- .backdrop -->

		<div class="overflow-hidden" id="bio">

			<section
				class="margin-y-5">

				{# Put matrix here #}

				{% set blocks = entry.articleMatrix.all() %}

				{% for block in blocks %}

					{% switch block.type %}

						{% case "textBlock" %}
							<div class="container narrow margin-y-4">
								{{ block.text }}
							</div>

						{% case "figureBlock" %}

							{% set width = block.width %}
							{% set image = block.image[0] %}

							<figure class="container {{ width }} margin-y-4">
								<img src="{{ image.url() }}" alt="{{ block.altText }}"/>
								{% if block.caption %}
									<figcaption class="caption">
										<small>{{ block.caption }}</small>
									</figcaption>
								{% endif %}
							</figure>

						{% case "divider" %}
							<hr class="margin-y-5" id="{{ block.idAttribute }}"/>

						{% default %}
							<p>A font walks into a bar.</p>
							<p>The bartender says, “Hey, we don’t serve your type in here!”</p>

					{% endswitch %}

				{% endfor %}

			</section>

		</div>

	</article>

{% endblock %}
