{% extends "_layouts/main" %}

{% block main %}

	<article>

		<div class="backdrop backdrop--fixed full-height" id="article-introduction">

			<div class="backdrop__image">

				{% set image = entry.image.one() %}

				{% if image %}
					<img src="{{ image.url }}" alt="{{ image.title }}">
				{% else %}
					<img src="https://via.placeholder.com/1000x750/" alt="Placeholder">
				{% endif %}

			</div>

			<div class="backdrop__cover">

				<div class="container medium text-align-center margin-y-5">

					<h1 class="screen-reader-only">
						{{ entry.header }}
					</h1>

					<div class="banner-headline">
						{{ entry.paragraph }}
					</div>

					<a href="#bio" class="button button--outline margin-y-4">
						{{ entry.linkText }}
					</a>

				</div>

			</div>

		</div>
		<!-- .backdrop -->

		<div class="overflow-hidden" id="bio">

			<section
				class="margin-y-5">

				{# Put matrix here #}

				{% set blocks = entry.articleMatrix.all() %}

				{% for block in blocks %}

					{% switch block.type %}

						{% case "textBlock" %}
							<div class="container narrow margin-y-4">
								{{ block.text }}
							</div>

						{% case "figureBlock" %}

							{% set width = block.width %}
							{% set image = block.image[0] %}

							<figure class="container {{ width }} margin-y-4">
								<img src="{{ image.url() }}" alt="{{ block.altText }}"/>
								{% if block.caption %}
									<figcaption class="caption">
										<small>{{ block.caption }}</small>
									</figcaption>
								{% endif %}
							</figure>

						{% case "divider" %}
							<hr class="margin-y-5" id="{{ block.idAttribute }}"/>

						{% default %}
							<p>A font walks into a bar.</p>
							<p>The bartender says, “Hey, we don’t serve your type in here!”</p>

					{% endswitch %}

				{% endfor %}

			</section>

		</div>

	</article>

{% endblock %}

{% js %}

//////////////////////////////////////////////
	// Fadeout on Scroll
	//////////////////////////////////////////////

	document.addEventListener("DOMContentLoaded", () => {

		const fadeTarget = document.querySelector('#article-introduction');

		if (fadeTarget) {

			const fadeTargetHeight = fadeTarget.scrollHeight;

			let scrollPosition = 0;

			const fadeOnScroll = (scroll_pos) => {
				if (scroll_pos < fadeTargetHeight) {
					let fadeTargetOpacity = (fadeTargetHeight - scrollPosition) / fadeTargetHeight;
					fadeTarget.style.opacity = fadeTargetOpacity;
					// console.log(`Window scroll position == ${scroll_pos}, ${fadeTargetOpacity}`);
				}
			}

			window.addEventListener('scroll', () => {
				scrollPosition = window.scrollY;
				fadeOnScroll(scrollPosition);
			});
		}

	});

{% endjs %}
