{% extends "_layouts/main" %}

{% block main %}

<div class="border-top border-bottom overflow-hidden">

	<header class="container narrow margin-y-4" id="article-header">

		<h1 class="banner-headline">
			{{ entry.title }}
		</h1>

		<div class="date-and-byline sans-serif font-size-sm">
			<span>
				<strong>
					{{ entry.postDate | date('F d, Y') }}
				</strong>	
			</span>
			<span class="opacity-80">
				by Carl Avidano
			</span>
		</div>

	</header>

	<div class="container narrow margin-y-3" role="menu">
		<div class="button-group justify-content-start font-size-md">
			<a class="button button--icon-only" href="#1" aria-label="Facebook">
				<span class="nyc_icon_facebook" aria-hidden="true"></span>
			</a>
			<a class="button button--icon-only" href="#1" aria-label="twitter">
				<span class="nyc_icon_twitter" aria-hidden="true"></span>
			</a>
			<a class="button button--icon-only" href="#1" aria-label="twitter">
				<span class="nyc_icon_mail" aria-hidden="true"></span>
			</a>
		</div>
	</div>

	{% set blockQuery = entry.articleMatrix.all() %}

	{% for block in blockQuery %}

        {% switch block.type %}

        {% case 'textBlock' %}

			<div class="container narrow margin-y-4">
				{{ block.text }}
			</div>

		{% case 'figureBlock' %}

			{% set image = block.image.one() %}

			<figure class="margin-y-5">

				{% if block.image %}
				<div class="container {{ block.width }}">
					<img src="{{ image.url() }}" alt=""/>
				</div>
				{% endif %}

				{% if block.caption %}
				<figcaption class="container narrow">
					{{ block.caption }}
				</figcaption>
				{% endif %}

			</figure>

		{% endswitch %}

    {% endfor %}

</div>

{% endblock %}