{% extends "_layouts/main" %}

{% block main %}

	<div class="border-top border-bottom overflow-hidden">

		<div class="margin-y-5">

			<div class="container narrow medium--md wide--lg">

				<div class="grid grid--gap-3 align-items-center">

					<div class="grid__cell grid__cell-4--lg">

						<div class="narrow">
							<h1>
								Lorem ipsum dolor sit amet consectetur
							</h1>
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui expedita consequuntur odit maiores reiciendis voluptatum facilis eius sunt totam. Nesciunt inventore deleniti ea obcaecati, dolorem aut accusantium dolor beatae nemo?
							</p>
						</div>
					</div>

					<div class="grid__cell grid__cell-8--lg">
						<img class="width-100" src="https://via.placeholder.com/1000x715" alt="Placeholder">
					</div>

				</div>

				<hr class="margin-y-4">

				<div class="grid grid--gap-3 grid--cells-4--md align-items-center">

					{% for item in craft.entries.section('news').limit(25).all() %}

						<div class="grid__cell">

							<div class="position-relative">

								<div class="margin-bottom-2">

									{% set image = item.newsFeatureImage.one() %}

									{% if image %}
										<img src="{{ image.url }}" alt="{{ image.title }}">
									{% else %}
										<img src="https://via.placeholder.com/1000x715" alt="Placeholder">
									{% endif %}

								</div>

								<a class="expanded-link" href="{{ item.url }}">
									<h2 class="h6">
										{{ item.title }}
									</h2>
								</a>
								<p class="font-size-sm">{{ item.postDate | date('M d, Y') }}</p>
							</div>

						</div>

					{% endfor %}

				</div>


			</div>


		</div>

	{% endblock %}
